.dashboardtrans  {
    background-color: #092238;
    padding-top: 20px;
    border: 1px solid #092238;
    /* border-radius: 5px; */
    width: 250px;
    min-height:1000px ;
}

.dashboardtrans hr{
    color: white;
    margin: 0;
    width: 190px;
    margin-left : 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.dashboardtrans  .option {
    margin: 0 auto;
    /* padding: 10px; */
    /* border: 1px solid #133554; */
    background-color: #092238;
    /* border-radius: 5px; */
    text-align: center;
    cursor: pointer;
    padding: 12px;
}

.dashboardtrans  .option a 
{
    text-decoration: none;
}

.dashboardtrans  .option a button{
    background-color:#092238;
    color:white;
    border: 1px solid  #092238;
    /* border-radius: 20px; */
    width: 100%;
    padding:8px ;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.dashboardtrans  .option a button:hover{
    background-color:#185081;
    color: white;
    transition: ease-in-out .2s;
    border-radius: 10px;
}
 
.dashboardtrans  .option a button .dashboardicon{
    width: 25px;
}